#site-wrapper 

{


display: flex;
flex-direction: column;
box-sizing: border-box;

}


div #site-header-title 

{
display: flex;
align-self: flex-start;
width: 850px;
margin: 20px;
padding: 0px 20px 0px 20px;
background-color: black;
color: red;}


#articles-about-descripton

{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: baseline;

}


#about-descripton 


{
    
display: flex;

align-self: center ;
    
max-width: 250px;
}




div #site-articles 

{
max-width: 850px; 
margin: 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}


#first-article {margin: 10px;text-align: center;}
#second-article {margin: 10px;text-align: center;}
#third-article {margin: 10px;text-align: center;}
#fourth-article {margin: 10px;text-align: center;}
#fifth-article {margin: 10px;text-align: center;}
#sixth-article {margin: 10px;text-align: center;}

.article-title {border: solid 2px red;
    padding: 0px 20px 0px 20px;

}

.about-title 

{margin: 10px;text-align: center;
background-color: red; color: black;
    padding: 1px 10px 1px 10px;}
    

.article-descripton {line-height: 10px;}

body {}
article {}

footer 

{
    text-align: center;
    color: white;
    background-color: red;
    margin: 20px 20px 20px 20px;
   
    font-size: 1.25em;
    width: 100%;

a {}

h1 {background-color: black;
color: red;}
h3 {}
p {text-align: center; font-size: 1.25em;}

