#site-wrapper 

{
display: flex;
flex-direction: column;

}


div #site-header-title 

{
display: flex;
align-self: flex-start;
width:850px;
max-width: 90%;

margin: 20px;
padding: 0px 20px 0px 20px;

background-color: black;
color: red;
}


#articles-about-descripton

{
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;

width: 80%;

margin: 20px;
padding: 0px 20px 0px 20px;

}


#site-about-descripton 


{
display: flex;
flex-direction: column;
align-self: center ;
max-width: 250px;
margin-left: 20px;
border: solid 2px black;
}



#about-descripton 

{margin: 10px;text-align: center;}

#site-articles 

{
max-width: 850px; 
margin-right: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}


#first-article {margin: 10px;text-align: center;}
#second-article {margin: 10px;text-align: center;}
#third-article {margin: 10px;text-align: center;}
#fourth-article {margin: 10px;text-align: center;}
#fifth-article {margin: 10px;text-align: center;}
#sixth-article {margin: 10px;text-align: center;}

.article-title {border: solid 2px red;
    padding: 0px 20px 0px 20px;

}

.about-title 

{margin: 10px;text-align: center;
background-color: red; color: black;
    padding: 1px 10px 1px 10px;}
    

.article-descripton {line-height: 10px;}

body {}
article {}

footer 

{
    text-align: center;
    color: white;
    background-color: red;
    margin: 20px 20px 20px 20px;
   
    font-size: 1.25em;
    max-width: 1200px;
   

a {}

h1 {background-color: black;
color: red;}
h3 {}
p {text-align: center; font-size: 1.25em;}

