#site-wrapper 

{position: absolute;
top: 25px;
left: 50px;
right: 50px ;
;
}

#site-header {text-align: center;}

#header-title {}
#header-descripton {}

#site-articles {}
#first-article {text-align: right;}
#second-article {text-align: center;}
#third-article {text-align: left;}

.article-title {border: solid 2px red;
    padding: 0px 15px 0px 15px;

}

.article-descripton {line-height: 10px;}

body {}
article {}
footer 

{
    text-align: center;
    color: white;
    background-color: red;
   
    font-size: 1.25em;}
a {}

h1 {background-color: black;
color: red;}
h2 {}
p {font-size: 1.25em;}

